* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/tableBois.jpg');
    background-repeat: repeat;
}

.container-fluid {
    width: 94vw;
    margin-top : 5%;
    padding : 2%;
    background: #FFF;
}

.jumbotron {
    margin-top: 10px;
    height: 40vh;
    background-image: url("../images/Jumbo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    .containImg {
        // display: flex;
        // align-items: center;
        width: 98%;
        height: 98%;
        //background: rgba(255, 255, 255, 1);
        h1 {
            // width: 75%;
            height: 100%;
            display: flex;
            align-items: center;
            font-family: 'Merienda', cursive;
            font-size: 6vw;
            background: rgba(255, 255, 255, 0.90);
            color: black;
            mix-blend-mode: screen;
            // background-image: url('../images/boisFoncéTexture.jpg');
            // background-size: cover;
            // background-clip: text;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            padding-left: 5%;
        }
    }
    .img {
        width: 45%;
        height : 180%;
        position: relative;
        top: -45%;
        align-self: stretch;
        //max-width: 200px;
        //min-width: 100px;
        background-image: url('../images/orange_icon.svg');
        background-size: cover;
        // background-position-x: top;
        background-position-y: 35%;
    }
}

.nav {
    margin-top: 0;
    width: 100%;
    height: 5vh;
    background-color: #FFF;
    z-index:10;
    li{
        width: 20%;
        padding : 20px auto;
        a {
            color: #494c4d;
            text-align: center;
        }
    }
}

.mainHome {
    margin-top: 20px;
    .containEvent {
        #concert {
            width : 50%;
            height: 100%;
            background-image: url('../images/concert2.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
}