$orange: #f55628;
$darkGrey: #494c4d;
$lightGrey: #898885;

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/tableBois.jpg');
    background-repeat: repeat;
}

.container-fluid {
    width: 94vw;
    margin-top : 5%;
    padding : 2%;
    background: #FFF;
}

.jumbotron {
    margin-top: 10px;
    height: 40vh;
    background-image: url("../images/Jumbo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
    .containImg {
        width: 98%;
        height: 98%;
        h1 {
            height: 100%;
            display: flex;
            align-items: center;
            font-family: 'Devonshire', cursive;
            font-size: 8.5vw;
            background: rgba(255, 255, 255, 0.90);
            color: black;
            mix-blend-mode: screen;
            padding-left: 5%;
        }
    }
    .img {
        width: 45%;
        height : 180%;
        position: relative;
        top: -45%;
        align-self: stretch;
        background-image: url('../images/orange_icon.svg');
        background-size: cover;
        background-position-y: 35%;
    }
}

.nav {
    margin-top: 0;
    width: 100%;
    height: 5vh;
    background-color: #FFF;
    z-index:10;
    li{
        width: 20%;
        padding : 20px auto;
        a {
            color: $darkGrey;
            text-align: center;
            &:hover {
                background-color: $orange;
                transform : scale(1.2);
                transition : 0.5s;
            }
            
        }
    }
}
.petitMotPerso {
    font-family: 'Devonshire', cursive;
    font-size: 4vw;
    text-align: center;
    color: $orange;
    text-shadow: 2px 2px $lightGrey;
    margin-top: 15px;
}
.mainHome {
    margin-bottom: 20px;
    .panel {
        margin-top: 10px;
        img {
            width: 100%;
        }
        .panel-footer {
            margin-top: 20px;
        }
    }
}

.resto {
    .panel-header {
        width: 100%;
        height: 500px;
    }
    #imgRestoBxl {
        background-image: url('../images/PasrestoBruxelles.jpg');
        background-size: cover;
    }
    #imgRestoParis {
        background-image: url('../images/restoParis.jpg');
        background-size: cover;
    }
    #imgRestoTokyo {
        background-image: url('../images/restoTokyo.jpg');
        background-size: cover;
    }
    .panel-body {
        height: 350px;
        padding-top: 15px;
    }
    .panel-footer {
        width: 100%;
        height: 300px;
    }
    #mapBruxelles {
        background-image: url('../images/mapBruxelles.png');
        background-size: cover;
        background-position: center;
    }
    #mapParis {
        background-image: url('../images/mapParis.png');
        background-size: cover;
        background-position: center;
    }
    #mapTokyo {
        background-image: url('../images/mapTokyo.png');
        background-size: cover;
        background-position: center;
    }
}

form {
    padding: 10px;
    label {
        padding : 5px;
    }
}