* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  max-width: 1800px;
}

body {
  background-color: #9fa09b;
  background-image: url("../images/tableBois.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.row {
  margin: 0;
}

.container-fluid {
  padding: 2%;
  background: white;
}

/*-------------------header----------------------*/
.jumbotron {
  height: 40vh;
  background-image: url("../images/Jumbo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 580px) {
  .jumbotron {
    height: 200px;
  }
}
.jumbotron .containImg {
  width: 98%;
  height: 100%;
  justify-content: space-around;
  border-style: solid;
  border-color: #494c4d;
  border-width: 2px 0;
  display: flex;
}
.jumbotron .containImg h1 {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Devonshire", cursive;
  font-size: 7vw;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  mix-blend-mode: screen;
  padding-left: 5%;
}
.jumbotron .containImg h1 img {
  width: 15vw;
}

nav {
  margin-top: 5%;
  width: 100%;
  background-color: white;
  padding-top: 2%;
}
nav li {
  width: 20%;
}
nav li a {
  color: #494c4d;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 2vw;
}
@media screen and (max-width: 500px) {
  nav li a {
    font-size: 12px;
  }
}
nav li a:hover {
  background-color: #f55628;
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}

.petitMotPerso {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: #494c4d;
  text-shadow: 2px 2px #9fa09b;
  padding: 4%;
}
@media screen and (max-width: 500px) {
  .petitMotPerso {
    font-size: 16px;
  }
}

/*-------------------page principale----------------------*/
.mainHome .panel {
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 120%;
}
.mainHome .panel img {
  width: 100%;
}
.mainHome .panel .panel-footer {
  margin-top: 20px;
}
.mainHome .panel .panel-footer .titre {
  font-family: "Crimson Text", serif;
}

/*-------------------page restaurant----------------------*/
#ici, #ParisBxl, #Tokyo {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: #494c4d;
  text-shadow: none;
}

.resto {
  font-family: "Source Sans Pro", sans-serif;
  color: #494c4d;
}
.resto .panel-header {
  width: 100%;
  height: 500px;
}
.resto #imgRestoBxl {
  background-image: url("../images/PasrestoBruxelles.jpg");
  background-size: cover;
}
.resto #imgRestoParis {
  background-image: url("../images/restoParis.jpg");
  background-size: cover;
}
.resto #imgRestoTokyo {
  background-image: url("../images/restoTokyo.jpg");
  background-size: cover;
}
.resto .panel-body {
  height: 380px;
  padding: 5%;
  background-color: #FFF;
}
.resto .panel-footer {
  width: 100%;
  height: 300px;
}
.resto #mapBruxelles {
  background-image: url("../images/mapBruxelles.png");
  background-size: cover;
  background-position: center;
}
.resto #mapParis {
  background-image: url("../images/mapParis.png");
  background-size: cover;
  background-position: center;
}
.resto #mapTokyo {
  background-image: url("../images/mapTokyo.png");
  background-size: cover;
  background-position: center;
}
.resto #bxlOuvert, .resto #parisOuvert, .resto #tokyoOuvert {
  color: #494c4d;
  font-size: 1.2vw;
  font-weight: bold;
  text-shadow: 1px 1px #9fa09b;
}

/*-------------------contact----------------------*/
form {
  padding: 0 10% 5% 10%;
}
form label {
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
}
form select {
  padding: 5px;
  margin-left: 5px;
}
form .rox .choix {
  width: 100%;
}
form .glyphicon {
  color: white;
  font-size: 2em;
  line-height: 2em;
  width: 3em;
  font-style: normal;
  font-weight: normal;
  position: relative;
}
form .btn {
  background-color: #494c4d;
  color: white;
  box-shadow: 2px 2px #f55628;
  width: 200px !important;
  text-align: center;
}
form .btn:active {
  transform: translateY(2px);
  border: none !important;
}

/*-------------------carte----------------------*/
.list-group {
  margin: 2% !important;
  padding-right: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.list-group .titre {
  font-family: "Crimson Text", serif;
  color: #494c4d;
  font-size: 120%;
}
.list-group li {
  border-radius: 0 !important;
}
.list-group .badge {
  float: right;
  background-color: #f55628;
  height: 100%;
  display: flex;
  align-items: center;
}

/*--------------------Gallerie----------------------*/
.photoContainer {
  width: 100%;
  height: 800px;
  margin: auto !important;
}
@media screen and (max-width: 767px) {
  .photoContainer {
    height: 4000px;
  }
}
.photoContainer .moyenneRow {
  height: 25%;
  width: 100%;
}
.photoContainer .petiteRow {
  height: 20%;
  width: 100%;
}
.photoContainer .grandeRow {
  height: 30%;
  width: 100%;
}
.photoContainer #photo1 {
  background-image: url("../images/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo2 {
  background-image: url("../images/photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo3 {
  background-image: url("../images/photo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo4 {
  background-image: url("../images/photo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo5 {
  background-image: url("../images/photo5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo6 {
  background-image: url("../images/photo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo7 {
  background-image: url("../images/photo7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo8 {
  background-image: url("../images/photo8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo9 {
  background-image: url("../images/photo9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo10 {
  background-image: url("../images/photo10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo11 {
  background-image: url("../images/photo11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 65%;
}
.photoContainer #photo12 {
  background-image: url("../images/photo12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo13 {
  background-image: url("../images/photo13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo14 {
  background-image: url("../images/photo14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo15 {
  background-image: url("../images/photo15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo16 {
  background-image: url("../images/photo16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo17 {
  background-image: url("../images/photo17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*-------------------footer-----------------------*/
.footer {
  height: 30vh;
  margin: 0 0 5% 0;
  background-color: #494c4d;
  color: #9fa09b;
  text-shadow: 1px 1px black;
  font-family: "Crimson Text", serif;
  padding-top: 1%;
  display: flex;
  justify-content: space-around;
}
.footer .left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
.footer .left .icon {
  display: flex;
  flex-direction: row;
}
.footer .left .icon a {
  text-decoration: none;
  padding: 0 10%;
}
.footer .left .icon a .fab {
  font-size: 3.5vw;
  color: #9fa09b;
  text-align: center;
}
.footer .left .icon a .fab p {
  font-size: 2vw;
}
.footer .left .fas {
  font-size: 5vw;
}

/*# sourceMappingURL=style.css.map */
