* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9fa09b;
}

.container-fluid {
  width: 94vw;
  margin-top: 5%;
  padding: 2%;
  background: white;
}

/*-------------------header----------------------*/
.jumbotron {
  margin-top: 10px;
  height: 40vh;
  background-image: url("../images/Jumbo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
}
.jumbotron .containImg {
  width: 98%;
  height: 98%;
}
.jumbotron .containImg h1 {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Devonshire", cursive;
  font-size: 8.5vw;
  background: rgba(255, 255, 255, 0.9);
  color: black;
  mix-blend-mode: screen;
  padding-left: 5%;
}
.jumbotron .img {
  width: 45%;
  height: 180%;
  position: relative;
  top: -42.5%;
  align-self: stretch;
  background-image: url("../images/orange_icon.svg");
  background-size: cover;
  background-position-y: 35%;
}

.nav {
  margin-top: 0;
  width: 100%;
  height: 5vh;
  z-index: 10;
}
.nav li {
  width: 20%;
  padding: 20px auto;
}
.nav li a {
  color: #494c4d;
  text-align: center;
  font-family: "Crimson Text", serif;
  font-size: 1.8vw;
}
.nav li a:hover {
  background-color: #f55628;
  color: white;
  transform: scale(1.1);
  transition: 0.5s;
}

.petitMotPerso {
  font-family: "Crimson Text", serif;
  font-weight: bold;
  font-size: 3vw;
  text-align: center;
  color: #f55628;
  text-shadow: 2px 2px #9fa09b;
  margin-top: 15px;
}

/*-------------------page principale----------------------*/
.mainHome {
  margin-bottom: 20px;
}
.mainHome .panel {
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 120%;
}
.mainHome .panel img {
  width: 100%;
}
.mainHome .panel .panel-footer {
  margin-top: 20px;
}
.mainHome .panel .panel-footer .titre {
  font-family: "Crimson Text", serif;
}

/*-------------------page restaurant----------------------*/
.resto {
  font-family: "Source Sans Pro", sans-serif;
}
.resto .panel-header {
  width: 100%;
  height: 500px;
}
.resto #imgRestoBxl {
  background-image: url("../images/PasrestoBruxelles.jpg");
  background-size: cover;
}
.resto #imgRestoParis {
  background-image: url("../images/restoParis.jpg");
  background-size: cover;
}
.resto #imgRestoTokyo {
  background-image: url("../images/restoTokyo.jpg");
  background-size: cover;
}
.resto .panel-body {
  height: 350px;
  padding: 15px;
  background-color: #FFF;
}
.resto .panel-footer {
  width: 100%;
  height: 300px;
}
.resto #mapBruxelles {
  background-image: url("../images/mapBruxelles.png");
  background-size: cover;
  background-position: center;
}
.resto #mapParis {
  background-image: url("../images/mapParis.png");
  background-size: cover;
  background-position: center;
}
.resto #mapTokyo {
  background-image: url("../images/mapTokyo.png");
  background-size: cover;
  background-position: center;
}

/*-------------------contact----------------------*/
form {
  padding: 10px;
}
form label {
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 120%;
}
form select {
  padding: 5px;
  margin-left: 5px;
}
form legend {
  width: 100%;
}
form button {
  background-color: #f55628;
  color: white;
  box-shadow: 2px 2px #9fa09b;
}
form button:active {
  transform: translateY(2px);
  box-shadow: 2px 2px #9fa09b !important;
  border: none !important;
}

/*-------------------carte----------------------*/
.list-group {
  margin: 2% !important;
  padding-right: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.list-group .titre {
  font-family: "Crimson Text", serif;
  color: #494c4d;
  font-size: 120%;
}
.list-group li {
  border-radius: 0 !important;
}
.list-group .badge {
  float: right;
  background-color: #f55628;
  height: 100%;
  display: flex;
  align-items: center;
}

/*--------------------Gallerie----------------------*/
#mainGallerie {
  padding: 0 !important;
}

.photoContainer {
  width: 100%;
  height: 800px;
  margin: auto !important;
}
.photoContainer .moyenneRow {
  height: 25%;
  width: 100%;
}
.photoContainer .petiteRow {
  height: 20%;
  width: 100%;
  padding-left: 15px;
}
.photoContainer .grandeRow {
  height: 30%;
  width: 100%;
  padding-left: 15px;
}
.photoContainer #photo1 {
  background-image: url("../images/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo2 {
  background-image: url("../images/photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo3 {
  background-image: url("../images/photo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo4 {
  background-image: url("../images/photo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo5 {
  background-image: url("../images/photo5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo6 {
  background-image: url("../images/photo6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo7 {
  background-image: url("../images/photo7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo8 {
  background-image: url("../images/photo8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo9 {
  background-image: url("../images/photo9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo10 {
  background-image: url("../images/photo10.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo11 {
  background-image: url("../images/photo11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 65%;
}
.photoContainer #photo12 {
  background-image: url("../images/photo12.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo13 {
  background-image: url("../images/photo13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo14 {
  background-image: url("../images/photo14.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo15 {
  background-image: url("../images/photo15.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo16 {
  background-image: url("../images/photo16.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photoContainer #photo17 {
  background-image: url("../images/photo17.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .photoContainer {
    width: 94vw;
  }

  .moyenneRow {
    height: 250px;
    width: 100%;
    padding-left: 15px;
  }

  .petiteRow {
    height: 250px;
    width: 100%;
    padding-left: 15px;
  }

  .grandeRow {
    height: 250px;
    width: 100%;
    padding-left: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
